*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Bree Serif', serif;
}

/*.logo{
	width: 50px;
	height: 70px;
}
*/
/*.jumbotron{
	background: url(../images/vinta.jpg);
	height: 90vh;
	border-radius: 0;
}*/
#landing-about{
	/*font-family: 'Cedarville Cursive', cursive;*/
	font-family: 'Permanent Marker', cursive;
	color: black;
	font-size: 5em;
	padding-top:10vh;
	letter-spacing: 5px;
}
.navbar{
	background: rgba(50, 195, 255, 1);
	margin-bottom: 5px;
}

/*.fadeIn{
	animation-duration: 5s;
}*/
#about{
	padding: 20px;
	height: 100%;
	background-color: #f2f2f2;
}
hr{
	height: 5px;
	background-color: #32c3ff;
}
#mission{
	height: 100%;
	background-color:  #32c3ff;
	color: #141414;
}

.about-tags{
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

#vision{
	height: 100%;
	background-color: #f2f2f2;
	color: #141414;
}
footer{
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 10px;
	text-align: center;
	background-color:  #32c3ff;
}
