*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Acme', sans-serif;
	overflow-x: hidden;
}
.mother-container{
	background-image: url(../images/main.jpg);
	width: 100%;
/*	height: 100vh;*/

}
#container0{
	/*margin: 0;
	padding: 0;*/
	width: 100%;
	height: 100vh;
	/*display: flex;
	align-items: center;
	justify-content: center;
	overflow-y: hidden;
	overflow: hidden;
	overflow-x: hidden;*/
}

/*hr{
	margin-left: 150px;
	width: 78%;
	padding: 2px;
	background-color: white;
}
*/

/*@keyframes animate{
	0%{
		transform: translateY(0px) rotate(-10deg);
	}
	25%{
		transform: translateY(-100px) rotate(10deg);
	}
	50%{
		transform: translateY(0px) rotate(-10deg);
	}
	75%{
		transform: translateY(100px) rotate(-10deg);
	}
	100%{
		transform: translateY(0px) rotate(-10deg);
	}
}*/
/*#container0:before{
	content: '';
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;

}*/
#container1{
	height: 100vh;
}
#container2{
	height: 100%;
}
#container3{
	height: 100%;
}
.card{
	background-color:  #262626;

}
.card-header{
	color: white;
}
.navbar{
	background-color: rgba(0,0,0,0);
	margin-bottom: 50px;
	/*position: fixed;*/
	/*justify-content: center;*/
}
.navbar-brand{
	font-family: 'Knewave', cursive;
	font-size: 2em;
}
.nav-item{
	font-weight: 800px;
	border-radius: 10px;
}
.nav-item:hover{
	background: linear-gradient(90deg, rgba(3, 169, 244, .2), rgba(255, 207, 36, .2), rgba(0, 255, 162, .2), rgba(0, 255, 0, .2));

}
.jumbotron{
	margin: 50px;
	padding: 50px;
	border-radius: 10px;
	/*background-color: rgba(0,0,0,.5);*/
	/*background: #262626;*/
	/*background: linear-gradient(90deg, rgba(3, 169, 244, .2), rgba(255, 207, 36, .2), rgba(0, 255, 162, .2), rgba(0, 255, 0, .2));*/
	box-shadow: 0 0 50px rgba(151, 166, 40, 1);
}
.jumbo{
	margin: 50px;
	padding: 50px;
	border-radius: 10px;
	/*background-color: rgba(0,0,0,.5);*/
	background: #262626;
	/*background: linear-gradient(90deg, rgba(3, 169, 244, .2), rgba(255, 207, 36, .2), rgba(0, 255, 162, .2), rgba(0, 255, 0, .2));*/
	box-shadow: 0 0 50px rgba(151, 166, 40, 1);
}
.jumbo1{
	margin: 50px;
	padding: 50px;
	border-radius: 10px;
	/*background-color: rgba(0,0,0,.5);*/
	background: #262626;
	/*background: linear-gradient(90deg, rgba(3, 169, 244, .2), rgba(255, 207, 36, .2), rgba(0, 255, 162, .2), rgba(0, 255, 0, .2));*/
	box-shadow: 0 0 50px rgba(151, 166, 40, 1);
}
.me{
	width: 20%;
	height: 20%;
	margin: 10px;
	border-radius: 20px;
	float: left;
}
/*.jumbotron:hover{
	filter: blur(30px);
}*/

.display, h3, p, h2, h1{
	color: white;
	overflow: hidden;
	margin-top: 15px;
	/*color: #12001a;*/
	/*position: fixed;*/
	/*float: left;*/
}
.display{
	/*margin-left: 5px;*/
}
.display1{
	text-align: center;
}
#email{
	text-decoration: none;
	color: white;
}
footer {
  text-align: center;
  font-size: 2em;
  color: white;
  padding-top: 0;
  margin-top: 0;
}

img{
	width: 100px;
	height: 100px;
}
.media1{
	width: 50px;
	height: 50px;
}
.up{
	width: 40px;
	height: 40px;
	margin: 20px;
}
.icon{
	justify-content: center;
}


.h1{
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
}
.skillbox{
	box-sizing: border-box;
	width: 100%;
	margin: 20px 0;
}
.skillbox p{
	margin: 0 0 10px;
	padding: 0;
}
.skillbox p:nth-child(2){
	float: right;
	position: relative;
	margin-left: 10px;
	/*top: 25px;*/
}
.skill{
	background: #262626;
	/*background: linear-gradient(90deg, rgba(3, 169, 244, .2), rgba(255, 207, 36, .2), rgba(0, 255, 162, .2), rgba(0, 255, 0, .2));*/
	padding: 4px;
	box-sizing: border-box;
	border: 1px solid #0fffb7;
	border-radius: 2px;
}
.skilllevel1{
	/*background: #0fffb7;*/
	background: linear-gradient(90deg, rgba(3, 169, 244, .2), rgba(255, 207, 36, .2), rgba(0, 255, 162, .2), rgba(0, 255, 0, .2));
	width: 95%;
	height: 10px;

}
.skilllevel2{
	/*background: #0fffb7;*/
	background: linear-gradient(90deg, rgba(3, 169, 244, .2), rgba(255, 207, 36, .2), rgba(0, 255, 162, .2), rgba(0, 255, 0, .2));
	width: 80%;
	height: 10px;

}
.skilllevel3{
	/*background: #0fffb7;*/
	background: linear-gradient(90deg, rgba(3, 169, 244, .2), rgba(255, 207, 36, .2), rgba(0, 255, 162, .2), rgba(0, 255, 0, .2));
	width: 85%;
	height: 10px;

}
.skilllevel4{
	/*background: #0fffb7;*/
	background: linear-gradient(90deg, rgba(3, 169, 244, .2), rgba(255, 207, 36, .2), rgba(0, 255, 162, .2), rgba(0, 255, 0, .2));
	width: 60%;
	height: 10px;

}